
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}


.search-bar-add-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-product-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-product-btn:hover {
  background-color: #45a049;
}


ul {
  list-style: none;
  padding: 0;
}

.product-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
}

.product-item span {
  font-size: 18px;
  font-weight: bold;
}

.product-item div {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #e43529;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button.edit-btn {
  background-color: #28a745;
}

button.back-btn {
  background-color: #6c757d;
}

button:hover {
  opacity: 0.8;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.pagination button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #0056b3
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination span {
  font-size: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.form-container input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  width: 100%;
  max-width: 400px;
  padding: 10px;
}

.edit-btn {
  background-color: #28a745;
}
